
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif  ;
    
}

body{
    background-color: #fafaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 50px;
    background: #FAFAF8;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .leftside {
    position: relative;
    background-color: #AA8733;
    padding: 40px;
    
            

}

.contain1 {
    display: grid;
    grid: 
    'myArea myArea . . .'
    'myArea myArea ';
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.item1 {
    grid-area: myArea;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.imgBx {
    display: grid;
    place-items: center;
}

#name {
    padding-top: 80px;
    text-align: justify;
}

#logo_pic {
    object-fit:cover;
    height: 250px;
    width: 250px;  
    border-radius: 200px;          
}
.container .rightside {
    position: relative;
    background-color: #DEDBCF;
    padding: 40px;
    background-image: url("img/dio_stand.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    
}

/* original css */
/* #logo {
    outline: auto;
    outline-color: black;
    width: 30%;
    background-color: lightgrey     
}

#imp_details {
    
    outline:auto;
    outline-color: black;
    width: 0%;
    height: 250px;
    padding: 0;
    margin: 0;
    border: 0px;
}
figure {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    border: 0;
    
} */
